* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-1 {
    display: flex;
    justify-content: stretch;
    height: 730px;
    background-color: #e3f9ff;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.container-header h1 {
    text-align: center;
    line-height: 90px;
    font-size: 60px;
    color: #03045e;
}

.container-header h2 {
    padding-left: 5px;
    color: #48cae4;
}

.container-nav ul {
    list-style: none;
    font-size: 30px;
    font-weight: 700;
}

.container-nav li {
    margin-bottom: 50px;
    border: 3px solid #023e8a;
    border-radius: 3px;
    padding: 10px 180px;
    background-color: #e3f9ff;
    color: #023e8a;
    text-align: center;
    transition: all 0.5s;
}

.container-nav li:hover {
    border: 3px solid #023e8a;
    background-color: #023e8a;
    color: #e3f9ff;
    cursor: pointer;
}

.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid #48cae4;
    width: 45%;
    background-color: #03045e;
}

#profile-pic {
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 1px #023d8a;
}